@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

// Homepage
main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 4rem);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  padding-bottom: 2rem;
}

// About Page
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: 0;
    width: 250px;
    height: 250px;
    background: url("../img/portrait.jpg") no-repeat center;
    border-radius: 50%;
    border: solid 3px $secondary-color;
  }

  .bio {
    grid-area: bio;
    h1 {
      text-decoration: underline;
      text-decoration-color: $secondary-color;
    }
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 3px solid;
  }

  .job-1 {
    grid-area: job1;

    h3 {
      font-weight: 600;
      text-decoration: underline;
      text-decoration-color: $secondary-color;
      color: $secondary-color;
    }

    h4 {
      margin: 0;
      padding: 0;
    }

    h6 {
      margin: 0;
    }
  }

  .job-2 {
    grid-area: job2;

    h3 {
      font-weight: 600;
      text-decoration: underline;
      text-decoration-color: $secondary-color;
      color: $secondary-color;
    }

    h4 {
      margin: 0;
      padding: 0;
    }

    h6 {
      margin: 0;
    }
  }

  .job-3 {
    grid-area: job3;

    h3 {
      font-weight: 600;
      text-decoration: underline;
      text-decoration-color: $secondary-color;
      color: $secondary-color;
    }

    h4 {
      margin: 0;
      padding: 0;
    }

    h6 {
      margin: 0;
    }
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  img {
    width: 100%;
    border: solid white 3px;

    &:hover {
      opacity: 0.3;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: white;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

// Research and Classes
.education-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "gatorimage about"
    "research courses";
  grid-template-columns: repeat(2, 1fr);

  .gator-image {
    grid-area: gatorimage;
    margin: auto;
  }

  img {
    width: 500px;
    height: auto;
    padding: 0;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .about {
    h1 {
      text-decoration: underline;
    }
  }

  .education {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 3px solid;
  }

  .research {
    h3 {
      font-weight: 600;
      text-decoration: underline;
      text-decoration-color: $secondary-color;
      color: $secondary-color;
    }
    h4 {
      margin-bottom: 0;
    }
  }

  .courses {
    h3 {
      font-weight: 600;
      text-decoration: underline;
      text-decoration-color: $secondary-color;
      color: $secondary-color;
    }

    a {
      text-decoration: underline;
      text-decoration-color: $secondary-color;
    }
  }
}

// Journal and Photos
.journal {
  display: grid;
  grid-gap: 2rem;
  .header {
    background: #444;
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
  }

  .post {
    padding: 1rem;
    background: lighten($primary-color, 15);
    border: 3px $secondary-color solid;
    width: 80%;
    height: auto;
    margin: auto;
  }

  h1 {
    color: $secondary-color;
  }

  h2 {
    padding-left: 1rem;
    color: $secondary-color;
    background: lighten($primary-color, 10);
    margin: 0;
  }
}

// Gallery Section
.photos {
  .header {
    background: #444;
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
    color: $secondary-color;
  }
}
// Footer
#main-footer {
  position: absolute;
  width: 100%;
  text-align: center;
  background: #444;
  color: set-text-color($primary-color);
  height: 4rem;
  justify-content: center;
  padding: 1rem;
}

@import "mobile";
